/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    #headerTop {
        padding: 15px 0px;
    }
    #mobileBanar .mobileBanarContent h3 {
        font-size: 54px;
    }
    #mobileBanar .mobileBanarContent h4 {
        font-size: 54px;
    }
    #mobileBanar .mobileBanarContent h2 {
        font-size: 54px;
    }
    .bgLayer > img{
        display: none;
    }
    #homeFreeTril{
        padding: 200px 0px;
        background-image: url(../img/img/trailbg.png);
        background-repeat: repeat;
    }
    #homeFreeTril .homeFreeTrilContent {
        margin-top: 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain {
        padding: 30px 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain h3 {
        width: 65%;
        margin: 0 auto;
    }
    #footer {
        padding-bottom: 100px;
        padding-top: 32px;
    }
    #footer .footerContent p {
        font-size: 12px;
    }
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    #homeFreeTril{
        padding: 100px 0px;
        background-image: url(../img/img/trailbg.png);
        background-repeat: repeat;
    }
    #homeFreeTril .homeFreeTrilContent {
        margin-top: 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain {
        padding: 30px 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain h3 {
        width: 65%;
        margin: 0 auto;
        font-size: 23px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain p {
        font-size: 22px;
    }
}
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #headerTop {
        padding: 15px 0px;
    }
    #mobileBanar .mobileBanarContent h3 {
        font-size: 54px;
    }
    #mobileBanar .mobileBanarContent h4 {
        font-size: 54px;
    }
    #mobileBanar .mobileBanarContent h2 {
        font-size: 54px;
    }
    .bgLayer > img{
        display: none;
    }
    #homeFreeTril{
        padding: 200px 0px;
        background-image: url(../img/img/trailbg.png);
        background-repeat: repeat;
    }
    #homeFreeTril .homeFreeTrilContent {
        margin-top: 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain {
        padding: 30px 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain h3 {
        width: 65%;
        margin: 0 auto;
    }
    #footer {
        padding-bottom: 100px;
        padding-top: 32px;
    }
    #footer .footerContent p {
        font-size: 12px;
    }
}
/* Extra small Device. */
@media (max-width: 575px) {
    #footer {
        padding-bottom: 80px;
        padding-top: 32px;
    }
    #footer .footerContent p {
        font-size: 10px;
    }
}
/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    #headerTop {
        padding: 15px 0px;
    }
    #mobileBanar .mobileBanarContent h3 {
        font-size: 54px;
    }
    #mobileBanar .mobileBanarContent h4 {
        font-size: 54px;
    }
    #mobileBanar .mobileBanarContent h2 {
        font-size: 54px;
    }
    .bgLayer > img{
        display: none;
    }
    #homeFreeTril{
        padding: 200px 0px;
        background-image: url(../img/img/trailbg.png);
        background-repeat: repeat;
    }
    #homeFreeTril .homeFreeTrilContent {
        margin-top: 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain {
        padding: 30px 0px;
    }
    #homeFreeTril .homeFreeTrilContent .bgLayer .homeFreeTrilContentMain h3 {
        width: 65%;
        margin: 0 auto;
    }
    #footer {
        padding-bottom: 100px;
        padding-top: 32px;
    }
    #footer .footerContent p {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
}
